In [20]:
ionex_file = "../jplg3660.12i"

"../jplg3660.12i"

In [ ]:
#open(ionex_file) do f
#    for i in enumerate(eachline(f))
#        print(i[1], ": ", i[2], "\n")
#    end
#end

In [21]:
pwd()

"/home/antonio/Repos/iono2/julia_scripts"

In [22]:
file = open(ionex_file);
lines = readlines(file)
close(file)

In [38]:
using Dates
index = 0
numbers = []
z = []
dates_array = []
lines_list = []
for line in lines
    index += 1
    if occursin(r"EPOCH OF CURRENT MAP", line)
        date = []
        string = split(line)
        for x in 1:6
            push!(date,parse(Int,string[x]))
        end
        year = date[1]
        month = date[2]
        day = date[3]
        hour = date[4]
        minutes = date[5]
        seconds = date[6]
        
        time_stamp = DateTime(year, month, day, hour, minutes, seconds)
        push!(dates_array, time_stamp)
        print(index, " ", DateTime(year, month, day, hour, minutes, seconds), "\n")
    end
    if occursin(r"LAT/LON1/LON2/DLON/H", line)
        #print(index,"\n")
        #push!(lines_list, index)
        #print(index, lines[index], "\n")
        numbers = split(lines[index + 1])
        #for n in numbers
        #    print(typeof(parse(Int,n)))
        #end
        #push!(z, parse(Int,lines[index + 1], "\n")
        #print(lines[index + 2], "\n")
        #print(lines[index + 3], "\n")
        #print(lines[index + 4], "\n")
        #print(lines[index + 5], "\n")
        for x in 1:5
            numbers = split(lines[index + x])
            for n in numbers
                push!(z, n)
            end
        end
    end
end

261 2012-12-31T00:00:00
690 2012-12-31T02:00:00
1119 2012-12-31T04:00:00
1548 2012-12-31T06:00:00
1977 2012-12-31T08:00:00
2406 2012-12-31T10:00:00
2835 2012-12-31T12:00:00
3264 2012-12-31T14:00:00
3693 2012-12-31T16:00:00
4122 2012-12-31T18:00:00
4551 2012-12-31T20:00:00
4980 2012-12-31T22:00:00
5409 2013-01-01T00:00:00
5838 2012-12-31T00:00:00
6267 2012-12-31T02:00:00
6696 2012-12-31T04:00:00
7125 2012-12-31T06:00:00
7554 2012-12-31T08:00:00
7983 2012-12-31T10:00:00
8412 2012-12-31T12:00:00
8841 2012-12-31T14:00:00
9270 2012-12-31T16:00:00
9699 2012-12-31T18:00:00
10128 2012-12-31T20:00:00
10557 2012-12-31T22:00:00
10986 2013-01-01T00:00:00

In [35]:
length(dates)

26

In [36]:
latitud = collect(87.5:-2.5:-87.5)
longitud = collect(-180:5:180)

73-element Array{Int64,1}:
 -180
 -175
 -170
 -165
 -160
 -155
 -150
 -145
 -140
 -135
 -130
 -125
 -120
    â‹®
  125
  130
  135
  140
  145
  150
  155
  160
  165
  170
  175
  180

In [ ]:
# This calculates the data for the first hour, 5183 values or the first 2 Hours
# Note fix map it is not using the values from lat 87.5, it is starting at 87.5 but with the
# Values from lat 85
# arrange data 
# Date, lat, lon, tec,
index = 0 
print("Latitud, Longitud, TEC\n")
for lat in latitud
    for lon in longitud
        index += 1 
        print(lat, ' ', lon, ' ', z[index],'\n')
    end
end
print(index)

In [ ]:

open("depth.csv","w") do io
    write(io,'x', '\n')
    for i in z
        write(io,i,'\n')
    end
end

In [ ]:
using Serialization 
serialize(depth_array, z)

In [ ]:
using Gadfly
set_default_plot_size(14cm, 8cm)
plot(z=(x,y) -> x*exp(-(x-round(Int, x))^20-y^20),
     xmin=[-180], xmax=[180], ymin=[-90], ymax=[90], Geom.contour)

In [ ]:
p1 = plot([sin,cos], 0, 2pi)
p2 = plot((x,y)->sin(x)+cos(y), 0, 2pi, 0, 2pi)
p3 = spy(ones(33)*sin.(0:(pi/16):2pi)' + cos.(0:(pi/16):2pi)*ones(33)')
hstack(p1)